<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2012. Robert Wood <rob@rnwood.co.uk>
  ~ All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.co.rnwood.dropboxlivewallpaper" android:versionCode="7" android:versionName="1.5">

    <uses-sdk android:minSdkVersion="7"/>
    <uses-feature android:name="android.software.live_wallpaper"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BIND_WALLPAPER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:anyDensity="true"
            />


    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:theme="@android:style/Theme.Light">
        <service android:name=".Wallpaper" android:label="@string/app_name"
                 android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper"
                       android:resource="@xml/livewallpaper"/>
        </service>

        <activity
                android:name="com.dropbox.client2.android.AuthActivity"
                android:launchMode="singleTask"
                android:configChanges="orientation|keyboard">
            <intent-filter>
                <data android:scheme="db-r79kug7kqybcg7l"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="uk.co.rnwood.dropboxlivewallpaper.SELECTDROPBOXFOLDERS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".AuthorizeDropBoxActivity" android:label="@string/authorize_dropbox_access_title"
                  android:launchMode="singleTask" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="uk.co.rnwood.dropboxlivewallpaper.AUTHORIZEDROPBOXACCOUNT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="uk.co.rnwood.dropboxlivewallpaper.AUTHORIZEDROPBOXACCOUNTNOTIFICATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SetupWizardActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="uk.co.rnwood.dropboxlivewallpaper.SETUPWIZARD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SetupWizardActivity2" android:label="@string/app_name"/>
        <activity android:name=".SetupWizardActivity3" android:label="@string/app_name"/>
        <activity android:name=".SetupWizardActivity4" android:label="@string/app_name"/>
        <activity android:name=".SetupWizardFinishActivity" android:label="@string/app_name"/>
    </application>

</manifest>
